/* Members Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.row {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
  align-items: flex-start;
}
.img {
  width: 30vw;
  max-width: 200px;
  aspect-ratio: 3 / 4;
  height: auto !important;
  object-fit: cover;
  object-position: top;
  background: #f0f0f0;
  flex-shrink: 0;
}
.info h3 {
  font-size: 1.8rem;
  color: var(--light-green);
  margin-bottom: 15px;
}
.info ul li {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 5px;
  font-weight: 500;
  list-style: square;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .row {
    gap: 20px;
    padding-bottom: 20px;
  }
}
